@model Applicant
@{
    ViewBag.Title = "FormPage";
}

<div class="row">
    @*<h1>Part I</h1>*@
    <h1>Applicant Form</h1>
    <p>
        After clicking the "Submit" button, the user-entered data will be inserterd into the corresponding fields in database table.
        This form employs both client-side and server-side validation.    
    </p>
    @*<p>
        Create a simple Applicant form, which inserts the following fields to the <i>[InterviewTest].[dbo].[Applicant]</i> table:
        <ul>
            <li>First name (required)</li>
            <li>Middle name</li>
            <li>Last name (required)</li>
            <li>Position Id (required)</li>
            <li>Comments</li>
            <li>Remote (required)</li>
        </ul>
    </p>*@
    @*<p>Implement front-end (javascript) <b>AND</b> back-end (server-side) validation on required fields. Only a valid form should be inserted into the database!</p>
    <p>Add your code to this view.</p>*@
    <hr/>

    <!-- Your code here -->
    @*@using (Html.BeginForm("PartOne", "Test", FormMethod.Post))*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <p>
            @Html.TextBoxFor(m => m.firstName, new { @placeholder = "First Name", required = "required" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.middleName, new { @placeholder = "Middle Name" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.lastName, new { @placeholder = "Last Name", required = "required" })
        </p>
        <p>
            @Html.TextBoxFor(m => m.positionId, new { @placeholder = "Position Id", required = "required" })
        </p>
        <p>
            @Html.TextAreaFor(m => m.comments, new { @placeholder = "Any Comments" })
        </p>
        <fieldset id="isRemote" name="isRemote">
            <p>
                Do you work remotely?
                @Html.RadioButtonFor(m => m.remote, true) Yes

                @Html.RadioButtonFor(m => m.remote, false) No
            </p>
        </fieldset>
        <p><input id="Submit" type="submit" value="submit"/></p>
    }
</div>